 body {
  margin: 0;
  padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1920px;
	 height: 5400px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Retngulo2copiar 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 1920px;
	 height: 5457px;
	 z-index:1;
} 

 #Camada9copiar 
{ 
	 left: -185px; 
	 top: 4491px; 
	 position: absolute; 
	 width: 2281px;
	 height: 1034px;
	 z-index:2;
} 

 #mjn 
{ 
	 left: 209px; 
	 top: 5169px; 
	 position: absolute; 
	 width: 337px;
	 height: 82px;
	 z-index:3;
} 

 #twitter 
{ 
	 left: 573px; 
	 top: 5205px; 
	 position: absolute; 
	 width: 173px;
	 height: 21px;
	 z-index:4;
} 

 #instagram 
{ 
	 left: 770px; 
	 top: 5205px; 
	 position: absolute; 
	 width: 215px;
	 height: 21px;
	 z-index:5;
} 

 #youtube 
{ 
	 left: 1009px; 
	 top: 5205px; 
	 position: absolute; 
	 width: 180px;
	 height: 21px;
	 z-index:6;
} 

 #tiktok 
{ 
	 left: 1211px; 
	 top: 5205px; 
	 position: absolute; 
	 width: 139px;
	 height: 21px;
	 z-index:7;
} 

 #discord 
{ 
	 left: 1374px; 
	 top: 5205px; 
	 position: absolute; 
	 width: 161px;
	 height: 21px;
	 z-index:8;
} 

 #twitch 
{ 
	 left: 1558px; 
	 top: 5205px; 
	 position: absolute; 
	 width: 152px;
	 height: 21px;
	 z-index:9;
} 

 #2022MJNESPORTSAllRig 
{ 
	 left: 729px; 
	 top: 5312px; 
	 position: absolute; 
	 width: 519px;
	 height: 23px;
	 z-index:10;
} 

 #mdiakit 
{ 
	 left: 769px; 
	 top: 3528px; 
	 position: absolute; 
	 width: 442px;
	 height: 72px;
	 z-index:11;
} 

 #Retngulo1 
{ 
	 left: 210px; 
	 top: 3648px; 
	 position: absolute; 
	 width: 1497px;
	 height: 843px;
	 z-index:12;
} 

 #Camada2 
{ 
	 left: 1084px; 
	 top: 260px; 
	 position: absolute; 
	 width: 347px;
	 height: 414px;
	 z-index:13;
} 

 #Camada3 
{ 
	 left: 1469px; 
	 top: 265px; 
	 position: absolute; 
	 width: 263px;
	 height: 408px;
	 z-index:14;
} 

 #Camada4 
{ 
	 left: 1286px; 
	 top: 205px; 
	 position: absolute; 
	 width: 343px;
	 height: 465px;
	 z-index:15;
} 

 #MAJIN 
{ 
	 left: 270px; 
	 top: 311px; 
	 position: absolute; 
	 width: 269px;
	 height: 64px;
	 z-index:16;
} 

 #ESPORTS 
{ 
	 left: 415px; 
	 top: 383px; 
	 position: absolute; 
	 width: 115px;
	 height: 29px;
	 z-index:17;
} 

 #RetnguloArredondado2 
{ 
	 left: 0px; 
	 top: 631px; 
	 position: absolute; 
	 width: 1920px;
	 height: 449px;
	 z-index:18;
} 

 #Camada5 
{ 
	 left: 0px; 
	 top: 498px; 
	 position: absolute; 
	 width: 1920px;
	 height: 140px;
	 z-index:19;
} 

 #Camada5copiar 
{ 
	 left: 0px; 
	 top: 1087px; 
	 position: absolute; 
	 width: 1920px;
	 height: 140px;
	 z-index:20;
} 

 #Retngulo3 
{ 
	 left: 190px; 
	 top: 622px; 
	 position: absolute; 
	 width: 717px;
	 height: 417px;
	 z-index:21;
} 

 #RetnguloArredondado1 
{ 
	 left: 68px; 
	 top: 102px; 
	 position: absolute; 
	 width: 1782px;
	 height: 92px;
	 z-index:22;
} 

 #uniformeoficial 
{ 
	 left: 756px; 
	 top: 2232px; 
	 position: absolute; 
	 width: 464px;
	 height: 66px;
	 z-index:23;
} 

 #Camada8 
{ 
	 left: -50px; 
	 top: 2310px; 
	 position: absolute; 
	 width: 875px;
	 height: 887px;
	 z-index:24;
} 

 #Camada9 
{ 
	 left: 834px; 
	 top: 2407px; 
	 position: absolute; 
	 width: 531px;
	 height: 634px;
	 z-index:25;
} 

 #Camada10 
{ 
	 left: 1123px; 
	 top: 2434px; 
	 position: absolute; 
	 width: 499px;
	 height: 624px;
	 z-index:26;
} 

 #vendasembreve 
{ 
	 left: 765px; 
	 top: 3154px; 
	 position: absolute; 
	 width: 468px;
	 height: 98px;
	 z-index:27;
} 

 #conheaamajin 
{ 
	 left: 250px; 
	 top: 141px; 
	 position: absolute; 
	 width: 222px;
	 height: 25px;
	 z-index:28;
} 

 #mdiakit_0 
{ 
	 left: 1186px; 
	 top: 135px; 
	 position: absolute; 
	 width: 113px;
	 height: 23px;
	 z-index:29;
} 

 #uniforme 
{ 
	 left: 641px; 
	 top: 141px; 
	 position: absolute; 
	 width: 122px;
	 height: 18px;
	 z-index:30;
} 

 #FALECONOSCO 
{ 
	 left: 1460px; 
	 top: 141px; 
	 position: absolute; 
	 width: 182px;
	 height: 18px;
	 z-index:31;
} 

 #Camada6 
{ 
	 left: 1196px; 
	 top: 770px; 
	 position: absolute; 
	 width: 528px;
	 height: 171px;
	 z-index:32;
} 

 #Camada7 
{ 
	 left: 938px; 
	 top: 120px; 
	 position: absolute; 
	 width: 61px;
	 height: 61px;
	 z-index:33;
} 

 #conheaamajin_0 
{ 
	 left: 463px; 
	 top: 1245px; 
	 position: absolute; 
	 width: 995px;
	 height: 110px;
	 z-index:34;
} 

 #Retngulo4 
{ 
	 left: 110px; 
	 top: 1372px; 
	 position: absolute; 
	 width: 1702px;
	 height: 716px;
	 z-index:35;
} 

 #texto 
{ 
	 left: 150px; 
	 right: 150px;
	 top: 1400px; 
	 position: absolute; 
	 z-index:36;
} 

#title
{
	 font-size: 72px;
	 font-style: italic;
	 position: absolute; 
}
#content
{
	 font-size: 32px;
	 position: absolute; 
}
